
.categories{
    display: flex;
    justify-content: space-around;
}


.cat-box{
    background-color: cyan;
    height:100px;
    width:120px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.cat-icon{
    color:red;
}

div > p {
    margin: 0;
}

.cat-icon:hover{
    background-color: transparent;
}

.cat-box:hover{
    cursor: pointer;
    box-shadow: -2px 2px 5px rgba(0,0,0,0.3);
    transition: 0.5;
}